h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 2px red;
    font-style: italic;
}
h2 {
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 3px;
    font-style: normal;
    text-shadow: 1px 1px blue;
}
h3 {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style:italic;
    text-shadow: 1px 1px blue;
    margin-left: 100px;
    margin-top: 30px;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 500px;
}
p {
    text-align: justify;
    line-height: 2.0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 40px;
}
ol{
    text-align: justify;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 100px;
    margin-right: 100px;
}
ul{
    margin-left: 100px;
}
body{
    border: 3px solid black;
}